/my notes/EE364a - Convex Optimization I Notes.aux
/my notes/EE364a - Convex Optimization I Notes.log
/my notes/EE364a - Convex Optimization I Notes.synctex.gz
/my notes/EE364a - Convex Optimization I Notes.tex

/review questions/review questions for ee364a.aux
/review questions/review questions for ee364a.log
/review questions/review questions for ee364a.synctex.gz
/review questions/review questions for ee364a.tex

/summaries/c4 convex optimization problems summary.aux
/summaries/c4 convex optimization problems summary.log
/summaries/c4 convex optimization problems summary.synctex.gz
/summaries/c4 convex optimization problems summary.tex
/summaries/c5 duality summary.aux
/summaries/c5 duality summary.log
/summaries/c5 duality summary.synctex.gz
/summaries/c5 duality summary.tex

/bv_cvxbook.pdf
