/my notes/EE364a - Convex Optimization I Notes.aux
/my notes/EE364a - Convex Optimization I Notes.log
/my notes/EE364a - Convex Optimization I Notes.synctex.gz

/my review questions/review questions for ee364a.aux
/my review questions/review questions for ee364a.log
/my review questions/review questions for ee364a.synctex.gz

/bv_cvxbook.pdf
