/Lecture Notes/EE364a - Convex Optimization I Notes.aux
/Lecture Notes/EE364a - Convex Optimization I Notes.log
/Lecture Notes/EE364a - Convex Optimization I Notes.synctex.gz

/Review Questions/review questions for ee364a.aux
/Review Questions/review questions for ee364a.log
/Review Questions/review questions for ee364a.synctex.gz

/bv_cvxbook.pdf
